.header {
   
    padding: 60px;
    text-align: center;
    background: #ce85b7;
    color: white;
    font-size: 30px;
  }
  
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:'Trebuchet MS';
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #5e2d52a2;} 
  .button2 {background-color: #5e2d52a2;}
  
  form {
    font-family: "Helvetica";
    padding: 12px 12px;
  }
  
  input {
    font-family: "Helvetica";
    padding: 12px 12px;
  }
  
  input[type="text"] {
    border: 2px black;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: aliceblue;
  }
  
  input[type="submit"] {
    border-radius: 4px;
  background-color: rgb(182, 92, 167);
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

  }